<% if flash[:sucess] %>
  <p class= "sucess"><%= flash[:sucess] %></p>
<% end %>

<% if flash[:notice] %>
  <p class= "sucess"><%= flash[:notice] %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<a class="edit">
  <%= link_to "Edit", edit_book_path,class: "link" %>
  </a>|
<a class="back">
  <%= link_to "Back", books_path,class: "link" %>
</a>
